################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/hada-p2
/hada-p2/bin/Debug
/hada-p2/obj/Debug
